In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('movies_metadata.csv',low_memory=False)
df.head(4)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0

In [ ]:
df.shape

(14171, 24)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14171 entries, 0 to 14170
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  14171 non-null  bool
 1   belongs_to_collection  1898 non-null   object
 2   budget                 14171 non-null  int64
 3   genres                 14171 non-null  object
 4   homepage               1580 non-null   object
 5   id                     14171 non-null  int64
 6   imdb_id                14168 non-null  object
 7   original_language      14171 non-null  object
 8   original_title         14171 non-null  object
 9   overview               14119 non-null  object
 10  popularity             14171 non-null  float64
 11  poster_path            14130 non-null  object
 12  production_companies   14171 non-null  object
 13  production_countries   14171 non-null  object
 14  release_date           14165 non-null  object
 15  revenue                14171 non-null  int64
 16  runtime                14161 non-null  float64
 17  spoken_languages       14171 non-null  object
 18  status                 14161 non-null  object
 19  tagline                9162 non-null   object
 20  title                  14170 non-null  object
 21  video                  14170 non-null  object
 22  vote_average           14170 non-null  float64
 23  vote_count             14170 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(16)
memory usage: 2.5+ MB

In [ ]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,1.417100e+04,14171.000000,14171.000000,1.417100e+04,14161.000000,14170.000000,14170.000000
mean,7.913116e+06,32226.902830,4.654141,2.088070e+07,102.974719,6.104143,179.875723
std,2.118737e+07,40315.011718,4.790868,7.446178e+07,28.302117,1.331966,566.135223
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,10478.500000,1.147523,0.000000e+00,91.000000,5.600000,10.000000
50%,0.000000e+00,19929.000000,3.102999,0.000000e+00,100.000000,6.300000,28.000000
75%,3.000000e+06,41047.000000,7.191861,3.815872e+06,112.000000,6.900000,101.000000
max,3.000000e+08,445590.000000,140.950236,1.845034e+09,931.000000,10.000000,12269.000000

In [ ]:
meanvote=df['vote_average'].mean()
print(meanvote)

6.104142554693013

In [ ]:
from numpy import minimum
minimumvote = df['vote_count'].quantile(0.81)
print(minimumvote)

156.0

In [ ]:
q_movies=df.copy().loc[df['vote_count']>=minimumvote]
q_movies.shape

(2696, 24)

In [ ]:
def weighted_rating(x,minimumvote=minimumvote,meanvote=meanvote):
    voters=x['vote_count']
    avg_vote=x['vote_average']
    ##calculating based on IMBD formula
    return(voters/(voters+minimumvote) * avg_vote) + (minimumvote/(minimumvote+voters) * meanvote)

In [ ]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [ ]:
q_movies = q_movies.sort_values('score',ascending=False)

In [ ]:
pd.set_option('precision',2)

In [ ]:
q_movies[['title','vote_count','vote_average','score']].head(20)

,title,vote_count,vote_average,score
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.53
314,The Shawshank Redemption,8358.0,8.5,8.46
834,The Godfather,6024.0,8.5,8.44
12481,The Dark Knight,12269.0,8.3,8.27
2843,Fight Club,9678.0,8.3,8.27
292,Pulp Fiction,8670.0,8.3,8.26
522,Schindler's List,4436.0,8.3,8.23
5481,Spirited Away,3968.0,8.3,8.22
2211,Life Is Beautiful,3643.0,8.3,8.21
1178,The Godfather: Part II,3418.0,8.3,8.20
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.19
1176,Psycho,2405.0,8.3,8.17
351,Forrest Gump,8147.0,8.2,8.16
1154,The Empire Strikes Back,5998.0,8.2,8.15
289,Leon: The Professional,4293.0,8.2,8.13
3030,The Green Mile,4166.0,8.2,8.12
1170,GoodFellas,3211.0,8.2,8.10
2216,American History X,3120.0,8.2,8.10
7000,The Lord of the Rings: The Return of the King,8226.0,8.1,8.06
1161,12 Angry Men,2130.0,8.2,8.06